Introduction to python programming:

In [ ]:
understanding the variables in python :

In [3]:
x = 2

In [4]:
y = 3

In [5]:
z = x=y

In [6]:
print(z)

3

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule NO 1 : NO Namespaces while declaring the variable name in python

In [ ]:
first name = 'Faiyaz'

In [9]:
print(first name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3852772612.py, line 1)

In [10]:
firstname = 'Faiyaz'
print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [11]:
1name = 'karthik'
print(1name)

SyntaxError: invalid decimal literal (1410008898.py, line 1)

In [12]:
name1 = 'karthik'
print(name1)

karthik

In [ ]:
Rule No 3 : A variable name should not contain any special characters

@#$%^&*

In [13]:
name@ = 'deepak'

print(name@)

SyntaxError: invalid syntax (2624127230.py, line 1)

In [ ]:
Introduction to datatype in  python :

In [ ]:
1. Strings ===> str

2. Numbers ===> integers ---> int and floats---> float ( decimals ===> 0.1,0.2,0.3....)

3. Lists ===> list

4. tuples ===> tuple

5. Dictionaries ===> dict

In [ ]:
Note : python is a case senstive programming language .

In [ ]:
classification of datatypes in python :

In [ ]:
Broadly datatypes are classified in to 2 different catgories :

    1. mutable datatypes ===> which we can edit / alter ===> flexible in nature
    2. immutable datatypes ===> which we cannot be able to edit ===> these are fixed in nature

In [ ]:
introduction to string datatype :

defination : A sring is a series of charactrs  decalred in quotes.

classification : It is classified as an immutable datatype

how to declare the string datatype ===> 2 approaches

1. single quote

2. double quote

In [14]:
name = 'joseph' # single quote

print(name)

joseph

In [15]:
name2 = "kavya" # double quote

print(name2)

kavya

In [ ]:
introduction to string methods :

In [16]:
type(name)

str

In [17]:
type(name2)

str

In [18]:
fullname = 'zeba ansari'

print(fullname)

zeba ansari

In [ ]:
# req : to correct the format.

In [19]:
print(fullname.title())

Zeba Ansari

In [ ]:
# req : i want the entire name in capitals.

In [20]:
print(fullname.upper())

ZEBA ANSARI

In [ ]:
# req : i want the entire name in small case letters.

In [21]:
print(fullname.lower())

zeba ansari